body{
    background-color:#D2DAFF;
    font-family: poppins;
    font-size: 15px;
}

#title{
    text-align: center;
    margin: auto;
    padding:20px;
    font-size: 30px;
    font-family: poppins;
    background-color: #B1B2FF;
    border-radius: 20px;
    border: 1px solid #393E46;
}

.Head{
    
    margin: auto;
    padding:10px;
    font-size: 20px;
    font-family: poppins;
    background-color: #EEEEEE;
    border-radius: 20px;
    border: 1px solid #393E46;
}

.one{
    margin: auto;
    padding:10px;
    background-color: #AAC4FF;
    border-radius: 20px;
    border: 1px solid #393E46;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #393E46;
}

.Edu{
    background-color: #EEEEEE;
    border-radius: 20px;
    border: 1px solid #393E46;
    margin-block: 10px;
    padding: 15px;
}

footer{
   
font-family: poppins;
margin:auto;
padding:20px;
font-size: 25px;
background-color: #B1B2FF;
border-radius: 20px;
border: 1px solid #393E46;
}

button{
    background-color: #ffffff;
    border-radius: 4px;
    font-size: 15px;
    font-family: poppins;
    border: 1px solid #393E46;
}